*{
    margin: 0;
    padding: 0;
    list-style: none;
}
body{
    
}
header {
    height: 100px;
    display: flex;
    border-bottom: 2px solid rgb(44, 112, 240);
}

.contentHeader {
    margin: 0;
    max-width: 1000px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.logo {
    font-size: 50px ;
    font-family: Arial, Helvetica, sans-serif;
    font-style: bold;
    padding: 55px;
}

.titulo1 {
    color: blue;
    font-weight: bolder;
}
.titulo2 {
     color: green;
    font-weight: bolder;  
}

header nav ul {
    display: flex;
}

.navegation {
    display: flex;
    align-items: center;
    gap: 100px;
}

.botao {
    display: flex;
    margin:  0 auto;
    padding: 5px;
    background: blue;
    border-radius: 5px;
    color: white;


}

header nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 50px;
    
}

header nav ul li a:hover {
    color: #228B22;
    text-decoration: underline;
}

.banner article {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.banner-img {
    width: 1200px;
    height: 600px;
    border-radius: 10px;
}
