*{
    margin: 0;
    padding: 0;
    list-style: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}
.logo {
    display: flex;
    justify-content: left;
    
}
.titulo1 {
    font-size: 5cap;
    font-weight: bold;
    color: rgb(107, 167, 17);
    
}

.titulo2 {
    font-size: 5cap;
    font-weight: bold;
    color: rgb(12, 80, 182);
}


.menu-links {
    top: auto;
    justify-content: center;
    display: flex;
    gap: 50px;
    margin: -50px auto;
}
.botao {
    display: flex;
    justify-content: right;
    background: red;
    top: auto; 
    
}