* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}

.sobre-body {
    margin: 0;
    overflow-x: hidden;
}

.bodylogin {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(../img/loginFundo.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 30px;
}

.contentHeader {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    /* Alinha verticalmente no centro */
    justify-content: space-between;
    /* Joga a logo para um lado e o menu para o outro */
    padding: 10px 20px;
    /* Evita que colem nas bordas da tela */
    border-bottom: 2px solid #ddd;
}

.logo {
    height: 80px;
    /* Define uma altura fixa ideal para o cabeçalho */
    width: auto;
    /* Faz a largura se ajustar proporcionalmente, sem distorcer */
    object-fit: contain;
    /* Garante que a imagem caiba perfeitamente no espaço */
    display: block;
    /* Remove pequenos espaçamentos fantasmas abaixo da imagem */
}

header nav ul {
    display: flex;
}

.navegation {
    display: flex;
    align-items: center;
    gap: 30px;
    /* Cria um espaçamento maneiro entre o menu e o botão */
}

.navegation ul li a {
    text-decoration: none;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
    color: black;
    padding: 10px 15px;
}

.navegation ul li a:hover {
    color: blue;
    text-decoration: underline;
}


.botao {
    display: flex;
    background: blue;
    border-radius: 5px;
    color: white;
    padding: 5px 10px;
}

.botao a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.botao:hover {
    cursor: pointer;
    text-decoration: underline;

}

.banner article {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.banner-img {
    width: 1200px;
    height: 600px;
    border-radius: 10px;
    display: flex;
    margin: 0 auto;
}

.banner-text {
    display: flex;
    position: absolute;
    margin: 105px;
    padding-right: 400px;
    color: white;
    font-size: 45px;


}

.banner-text2 {
    display: flex;
    position: absolute;
    margin: 325px;
    padding-right: 575px;
    color: #fff;
    font-size: 15px;

}

.icones {
    display: flex;
    align-items: center;


}

.rodape {
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 40px 20px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    text-align: center;

}

.containerLogin {
    margin-top: 350px;
    width: 420px;
    background-color: transparent;
    border: 2px solid rgba(77, 139, 255, 0.2);
    border-radius: 7px;
    color: #fff;
    padding: 30px 40px;
    box-shadow: 0 0 10px rgba(77, 139, 255, 0.2);
}

.containerLogin h1 {
    text-align: center;
    font-size: 36px;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input {
    display: flex;
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid rgba(77, 139, 255, 0.2);
    border-radius: 40px;
    padding: 0 7px;
    color: #fff;
    font-size: 16px;
    outline: none;
}

.input-box input::placeholder {
    color: #fff;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    font-size: 20px;
    transform: translateY(-50%);
}

.senha {
    display: flex;
    justify-content: space-between;
    margin: -15px 0 15px;
}

.senha label input {
    accent-color: #fff;
}

.senha a {
    color: #fff;
    text-decoration: none;
}

.senha a:hover {
    text-decoration: underline;
}

.login {
    width: 100%;
    height: 50px;
    background-color: #fff;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: #000000;
    box-shadow: 0 0 10px rgba(0, 0 0, .1);
}

.login a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}

.login a:hover {
    text-decoration: underline;
    color: #fff;
}

.login:hover {
    background-color: transparent;
    border: 2px solid rgba(77, 139, 255, 0.2);
    color: #fff;
    transition: 0.5s;
}

.cadastro {
    margin: 20px 0 15px;
    font-size: 14px;
    text-align: center;
}

.cadastro a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.cadastro a:hover {
    text-decoration: underline;
}

.sobre {
    display: flex;
    flex-direction: column;
    padding: 30px 200px;
    margin: 30px 0;
}

.sobre-text {
    margin: 30px 0;
}

.sobre-text3 {
    margin: 30px 0;
}

.sobre-img {
    width: 1200px;
    height: 350px;
    border-radius: 10px;
    display: flex;
    padding: 0px 800px;
    margin-top: -340px;
}

.sobre-icones {
    display: flex;
    justify-content: space-around;
    border-top: 1px solid #ddd;
    margin: 20px;
}

.iconesobre1 {
    width: 100px;
    height: 100px;
}

.iconesobre2 {
    width: 100px;
    height: 100px;
}

.iconesobre3 {
    width: 100px;
    height: 100px;
}

.iconesobre4 {
    width: 100px;
    height: 100px;
}

.texticones {
    display: flex;
    justify-content: space-around;
    margin-left: -37px;

}

.nossos-servicos {
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 30px 670px;
    font-weight: bold;
    color: blue;
}

.titulo-servicos {
    display: flex;
    justify-content: center;
}

.subtitulo-servicos {
    display: flex;
    justify-content: center;
    margin: 0px;
    font-weight: extra-bold;
    font-size: 32px;
}

.descricao-servicos {
    display: flex;
    justify-content: center;
    margin: 7px;
}

.icon-servicos {
    display: flex;
    justify-content: space-around;
    margin: 30px;
}

.iconeservicos1 {
    width: 100px;
    height: 100px;
}

.iconeservicos2 {
    width: 100px;
    height: 100px;
}

.iconeservicos3 {
    width: 100px;
    height: 100px;
}

.iconeservicos4 {
    width: 100px;
    height: 100px;
}

.textservicos {
    display: flex;
    justify-content: space-around;
    margin-left: -0px;
    margin: 5px
}

.borderserver {
    border: 3px solid #ddd;
    padding: 45px;
    border-radius: 10px;
    list-style: none;
    text-decoration: none;
    color: black;
}

.borderserver:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

.banner-servicos {
    width: 100%;
    max-width: 780px;
    background: linear-gradient(90deg, #003b9f, #0048c7);
    border-radius: 8px;
    padding: 20px 30px;
    margin-left: 350px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    color: white;
    font-family: Arial, sans-serif;
}

.banner-servicos p {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
}

.banner-servicos button {
    background: #7ed321;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 14px 28px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.banner-servicos button:hover {
    background: #6abd1b;
}


.antesedepois {
    display: flex;
    padding: 100px 202px;
    font-weight: bold;
    color: blue;

}

.titulo-resultados {
    display: flex;
    padding: 0px 200px;
    margin-top: -60px;
}

.descricao-resultados {
    display: flex;
    padding: 0px 180px;
    margin: 20px;
}

.resulticon {
    display: flex;
    flex-direction: column;
    gap: 15px;
    /* espaço entre as linhas */
    margin-left: 200px;
}

.item-resultados {
    display: flex;
    align-items: center;
    /* alinha verticalmente */
}

.check {
    width: 30px;
    height: 30px;
    margin-right: 12px;
    /* espaço entre ícone e texto */
}

.checktext {
    font-size: 16px;
}

.estofados-img {
    width: 1200px;
    height: 350px;
    border-radius: 10px;
    display: flex;
    padding: 0px 800px;
    margin-top: -340px;
}

.orcamento{
    padding:80px 20px;
    background:#fff;
}

.container{
    max-width:700px;
    margin:auto;
}

.subtitulo{
    display:block;
    color:#0d4cb3;
    font-size:14px;
    font-weight:700;
    margin-bottom:10px;
    text-transform:uppercase;
}

.orcamento h2{
    font-size:42px;
    color:#071b3b;
    margin-bottom:15px;
}

.orcamento p{
    color:#666;
    margin-bottom:30px;
}

.form-orcamento{
    display:flex;
    flex-direction:column;
    gap:15px;
}

.form-orcamento input,
.form-orcamento select,
.form-orcamento textarea{
    width:100%;
    padding:14px 16px;
    border:1px solid #dcdcdc;
    border-radius:8px;
    font-size:16px;
    outline:none;
}

.form-orcamento input:focus,
.form-orcamento select:focus,
.form-orcamento textarea:focus{
    border-color:#0d4cb3;
}

.form-orcamento button{
    background:#7ac943;
    color:white;
    border:none;
    padding:15px;
    border-radius:8px;
    font-size:16px;
    font-weight:600;
    cursor:pointer;
    transition:0.3s;
}

.form-orcamento button:hover{
    opacity:0.9;
}