* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}

.sobre-body {
    margin: 0;
    overflow-x: hidden;
}

.bodylogin {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(../img/loginFundo.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 30px;
}

.contentHeader {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    /* Alinha verticalmente no centro */
    justify-content: space-between;
    /* Joga a logo para um lado e o menu para o outro */
    padding: 10px 20px;
    /* Evita que colem nas bordas da tela */
    border-bottom: 2px solid #ddd;
}

.logo {
    height: 80px;
    /* Define uma altura fixa ideal para o cabeçalho */
    width: auto;
    /* Faz a largura se ajustar proporcionalmente, sem distorcer */
    object-fit: contain;
    /* Garante que a imagem caiba perfeitamente no espaço */
    display: block;
    /* Remove pequenos espaçamentos fantasmas abaixo da imagem */
}

header nav ul {
    display: flex;
}

.navegation {
    display: flex;
    align-items: center;
    gap: 30px;
    /* Cria um espaçamento maneiro entre o menu e o botão */
}

.navegation ul li a {
    text-decoration: none;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
    color: black;
    padding: 10px 15px;
}

.navegation ul li a:hover {
    color: blue;
    text-decoration: underline;
}


.botao {
    display: flex;
    background: blue;
    border-radius: 5px;
    color: white;
    padding: 5px 10px;
}

.botao a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.botao:hover {
    cursor: pointer;
    text-decoration: underline;

}

.banner article {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.banner-img {
    width: 1200px;
    height: 600px;
    border-radius: 10px;
    display: flex;
    margin: 0 auto;
}

.banner-text {
    display: flex;
    position: absolute;
    margin: 105px;
    padding-right: 400px;
    color: white;
    font-size: 45px;


}

.banner-text2 {
    display: flex;
    position: absolute;
    margin: 325px;
    padding-right: 575px;
    color: #fff;
    font-size: 15px;

}

.icones {
    display: flex;
    align-items: center;


}

.rodape {
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 40px 20px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    text-align: center;

}

.sobre {
    display: flex;
    flex-direction: column;
    padding: 30px 100px;
    margin: 30px 0;
}

.sobre-text {
    margin: 30px 0;
}

.sobre-text3 {
    margin: 30px 0;
}

.sobre-img {
    width: 1200px;
    height: 350px;
    border-radius: 10px;
    display: flex;
    padding: 0px 650px;
    margin-top: -340px;
}

.sobre-icones {
    display: flex;
    justify-content: space-around;
    border-top: 1px solid #ddd;
    margin: 20px;
}

.iconesobre1 {
    width: 100px;
    height: 100px;
}

.iconesobre2 {
    width: 100px;
    height: 100px;
}

.iconesobre3 {
    width: 100px;
    height: 100px;
}

.iconesobre4 {
    width: 100px;
    height: 100px;
}

.texticones {
    display: flex;
    justify-content: space-around;
    margin-left: -37px;

}

.nossos-servicos {
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 30px 500px;
    font-weight: bold;
    color: blue;
}

.titulo-servicos {
    display: flex;
    justify-content: center;
}

.subtitulo-servicos {
    display: flex;
    justify-content: center;
    margin: 0px;
    font-weight: extra-bold;
    font-size: 32px;
}

.descricao-servicos {
    display: flex;
    justify-content: center;
    margin: 7px;
}

.icon-servicos {
    display: flex;
    justify-content: space-around;
    margin: 30px;
}

.iconeservicos1 {
    width: 100px;
    height: 100px;
}

.iconeservicos2 {
    width: 100px;
    height: 100px;
}

.iconeservicos3 {
    width: 100px;
    height: 100px;
}

.iconeservicos4 {
    width: 100px;
    height: 100px;
}

.textservicos {
    display: flex;
    justify-content: space-around;
    margin-left: -0px;
    margin: 5px
}

.borderserver {
    border: 3px solid #ddd;
    padding: 45px;
    border-radius: 10px;
    list-style: none;
    text-decoration: none;
    color: black;
}

.borderserver:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

.banner-servicos {
    width: 100%;
    max-width: 780px;
    background: linear-gradient(90deg, #003b9f, #0048c7);
    border-radius: 8px;
    padding: 20px 30px;
    margin-left: 180px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    color: white;
    font-family: Arial, sans-serif;
}

.banner-servicos p {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
}

.banner-servicos button {
    background: #7ed321;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 14px 28px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.banner-servicos button:hover {
    background: #6abd1b;
}


.antesedepois {
    display: flex;
    padding: 100px 400px;
    font-weight: bold;
    color: blue;

}

.titulo-resultados {
    display: flex;
    padding: 0px 400px;
    margin-top: -60px;
}

.descricao-resultados {
    display: flex;
    padding: 0px 385px;
    margin: 20px;
}

.resulticon {
    display: flex;
    flex-direction: column;
    gap: 15px;
    /* espaço entre as linhas */
    margin-left: 400px;
}

.item-resultados {
    display: flex;
    align-items: center;
    /* alinha verticalmente */
}

.check {
    width: 30px;
    height: 30px;
    margin-right: 12px;
    /* espaço entre ícone e texto */
}

.checktext {
    font-size: 16px;
}

.estofados-img {
    width: 1200px;
    height: 350px;
    border-radius: 10px;
    display: flex;
    padding: 0px 1000px;
    margin-top: -340px;
}

.banner-servicos-estofados {
    width: 100%;
    max-width: 780px;
    background: linear-gradient(90deg, #003b9f, #0048c7);
    border-radius: 8px;
    padding: 20px 30px;
    margin-left: 550px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-family: Arial, sans-serif;
    margin-top: 10px;
}

.banner-servicos-estofados p {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
}

.banner-servicos-estofados button {
    background: #7ed321;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 14px 28px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.banner-servicos-estofados button:hover {
    background: #6abd1b;
}

.orcamento{
    padding:80px 20px;
    background:#fff;
}

.container{
    max-width:1200px;
    margin: 0 auto;
}

.subtitulo{
    display:block;
    color:#0d4cb3;
    font-size:14px;
    font-weight:700;
    margin-bottom:10px;
    text-transform:uppercase;
}

.orcamento h2{
    font-size:42px;
    color:#071b3b;
    margin-bottom:15px;
}

.orcamento p{
    color:#666;
    margin-bottom:30px;
}

.form-orcamento{
    display:flex;
    flex-direction:column;
    gap:15px;
}

.form-orcamento input,
.form-orcamento select,
.form-orcamento textarea{
    width:100%;
    padding:14px 16px;
    border:1px solid #dcdcdc;
    border-radius:8px;
    font-size:16px;
    outline:none;
}

.form-orcamento input:focus,
.form-orcamento select:focus,
.form-orcamento textarea:focus{
    border-color:#0d4cb3;
}

.form-orcamento button{
    background:#7ac943;
    color:white;
    border:none;
    padding:15px;
    border-radius:8px;
    font-size:16px;
    font-weight:600;
    cursor:pointer;
    transition:0.3s;
}

.form-orcamento button:hover{
    opacity:0.9;
}

.erro{
    border:2px solid red !important;
}

.contato{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:80px;
    background:#fff;
    gap:60px;
}

.subtitulo{
    color:#0d4cb3;
    font-weight:700;
    font-size:14px;
}

.contato h2{
    font-size:48px;
    color:#071b3b;
    margin:15px 0;
}

.contato p{
    color:#555;
}

.item{
    display:flex;
    align-items:center;
    gap:15px;
    margin-top:25px;
}

.item i{
    width:45px;
    height:45px;
    display:flex;
    align-items:center;
    justify-content:center;
    background:#0d4cb3;
    color:#fff;
    border-radius:8px;
    font-size:18px;
}

.contato-logo{
    text-align:center;
}

.contato-logo img{
    max-width:250px;
    margin-bottom:20px;
}

.redes{
    margin-top:25px;
    display:flex;
    justify-content:center;
    gap:20px;
}

.redes a{
    width:45px;
    height:45px;
    border-radius:50%;
    background:#0d4cb3;
    color:white;
    display:flex;
    align-items:center;
    justify-content:center;
    text-decoration:none;
}

.carrosel {
    overflow: hidden;
    width: 500px;
    height: 500px;

    margin-top: -340px;
    margin-left: 1000px;

    position: relative;
}

.containerCarrosel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.containerCarrosel img {
    width: 500px;
    height: 500px;
    object-fit: cover;
    flex-shrink: 0;
}

.btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    background: rgba(0,0,0,0.5);
    color: white;

    border: none;
    padding: 15px;

    cursor: pointer;
    font-size: 25px;

    z-index: 10;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.btn:hover {
    background: rgba(0,0,0,0.8);
}